.legend {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.legend ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.legend li {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.legend li .frog {
    cursor: default;
}

.legend li .frog:hover {
    opacity: 1;
}

.legend li .frog input[type="checkbox"] {
    display: none;
}
